{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Tender Approval</h6>
                    
                    <form method="POST">    
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Tender Finalized Value</label>
                                    <input type="text" class="form-control" placeholder="Tender Finalized Value">
                                </div>
                            </div><!-- Col -->
                            <div class="col-sm-3">
                                <div class="form-group">
									<label>SD Type</label>
									<select class="js-example-basic-single w-100">
										<option value="1">Security Deposite</option>
										<option value="2">Bank Deposite</option>
										<option value="3">Assert Currently</option>
									</select>
								</div>
                            </div><!-- Col -->
                            <div class="col-sm-3">
                                <div class="form-group">
									<label>Type of Deposite</label>
									<select class="js-example-basic-single w-100">
										<option value="1">Debit</option>
										<option value="2">NEFT</option>
										<option value="3">RTGS</option>
									</select>
								</div>
                            </div><!-- Col -->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">SD Amount</label>
                                    <input type="number" class="form-control" placeholder="SD Amount">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Beneficiary Name</label>
                                    <input type="text" class="form-control" placeholder="Beneficiary Name">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Work Order Number</label>
                                    <input type="text" class="form-control" placeholder="Work Order Number">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Government Project Code</label>
                                    <input type="text" class="form-control" placeholder="Government Project Code">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Project Start Date</label>
                                    <input type="date" class="form-control" placeholder="Project Start Date">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Project End Date</label>
                                    <input type="date" class="form-control" placeholder="Project End Date">
                                </div>
                            </div>
                        </div><!-- Row -->
                    </form>
            </div>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Documents</h6>
                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Docment type
                                </th>
                                <th>
                                    File upload
                                </th>
                                <th>
                                    Action
                                </th>
                                <th>
                                    More
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <form action="#">
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Document Type">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="file" class="form-control" placeholder="upload File">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <a href="#">
                                                <div class="col-sm-6 col-md-4 col-lg-3"> 
                                                    <i data-feather="trash-2"></i>  
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <a class="extra-fields-customer mb-2 mr-2 btn btn-success">ADD</a>
                                        </div>
                                    </td>
                                </tr>
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}